<a href="https://colab.research.google.com/github/DaniliukK95/Drops_Of_Jupyter/blob/main/cleaned3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import balanced_accuracy_score, confusion_matrix

In [ ]:
# change your file path to load it
clean_df2 = pd.read_csv('clean.csv')
clean_df2.head()

,Unnamed: 0,Unique ID,Household region,Age of sample adult,Sex of sample adult,Education of sample adult,Hispanic ethnicity of SA,Single + Mult race gps w Hispanic origin,Hispanic origin detail,Single and multiple race groups,...,Medicaid HDHP.1,Medicaid reassignment flag,Paid for by Medicare - plan 1,Paid for by Medicare - plan 2,"Not eligible for Medicaid, CHIP, or other public coverage",SA family poverty ratio,Ratio of family income to poverty threshold for SA’s family,income from wages,income from SSI SSDI,income from retirement
0,0,H056808,3,50,1,1,2,2,3,1,...,NaN,NaN,2.0,NaN,NaN,1.93,7,1,2.0,2.0
1,1,H018779,3,53,1,7,2,3,3,2,...,NaN,NaN,2.0,NaN,NaN,4.45,12,1,2.0,2.0
2,2,H049265,3,56,1,8,2,2,3,1,...,NaN,NaN,2.0,NaN,NaN,5.94,14,1,2.0,2.0
3,3,H007699,3,57,2,5,2,2,3,1,...,NaN,NaN,NaN,NaN,NaN,3.70,11,1,1.0,1.0
4,4,H066034,3,25,1,4,2,3,3,2,...,NaN,NaN,2.0,NaN,NaN,1.66,6,8,NaN,NaN

# Univariate logistic regression
## correlation bet. taking diab. pill and income from wages

In [ ]:
# taking diab. pill & income from wages cols
clean_df3 = clean_df2.loc[:, ['Taking diabetic pills', 'income from wages'] ]
clean_df3

       Taking diabetic pills  income from wages
0                        1.0                  1
1                        1.0                  1
2                        NaN                  1
3                        NaN                  1
4                        NaN                  8
...                      ...                ...
29477                    NaN                  2
29478                    1.0                  1
29479                    NaN                  2
29480                    NaN                  2
29481                    1.0                  1

[29482 rows x 2 columns]

In [ ]:
# .dropna()
clean_df4 = clean_df3.dropna()
clean_df4

       Taking diabetic pills  income from wages
0                        1.0                  1
1                        1.0                  1
8                        2.0                  1
12                       1.0                  8
15                       2.0                  1
...                      ...                ...
29470                    1.0                  2
29473                    1.0                  2
29476                    1.0                  1
29478                    1.0                  1
29481                    1.0                  1

[5702 rows x 2 columns]

In [ ]:
# conver cate. var. into indicators
clean_df5 = pd.get_dummies(clean_df4, columns=['Taking diabetic pills',
                                              'income from wages'])
clean_df5

,Taking diabetic pills_1.0,Taking diabetic pills_2.0,Taking diabetic pills_7.0,Taking diabetic pills_9.0,income from wages_1,income from wages_2,income from wages_7,income from wages_8,income from wages_9
0,1,0,0,0,1,0,0,0,0
1,1,0,0,0,1,0,0,0,0
8,0,1,0,0,1,0,0,0,0
12,1,0,0,0,0,0,0,1,0
15,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
29470,1,0,0,0,0,1,0,0,0
29473,1,0,0,0,0,1,0,0,0
29476,1,0,0,0,1,0,0,0,0
29478,1,0,0,0,1,0,0,0,0
29481,1,0,0,0,1,0,0,0,0

In [ ]:
# drop anything but 'taking diabetic pill_1.0' (target)
clean_df6 = clean_df5.drop(columns={'Taking diabetic pills_2.0', 'Taking diabetic pills_7.0','Taking diabetic pills_9.0'})
clean_df6

,Taking diabetic pills_1.0,income from wages_1,income from wages_2,income from wages_7,income from wages_8,income from wages_9
0,1,1,0,0,0,0
1,1,1,0,0,0,0
8,0,1,0,0,0,0
12,1,0,0,0,1,0
15,0,1,0,0,0,0
...,...,...,...,...,...,...
29470,1,0,1,0,0,0
29473,1,0,1,0,0,0
29476,1,1,0,0,0,0
29478,1,1,0,0,0,0
29481,1,1,0,0,0,0

In [ ]:
# create features
X = clean_df6.drop(columns=['Taking diabetic pills_1.0'])
X.head()

,income from wages_1,income from wages_2,income from wages_7,income from wages_8,income from wages_9
0,1,0,0,0,0
1,1,0,0,0,0
8,1,0,0,0,0
12,0,0,0,1,0
15,1,0,0,0,0

In [ ]:
# create target
y = clean_df6['Taking diabetic pills_1.0']
y[:5]

0     1
1     1
8     0
12    1
15    0
Name: Taking diabetic pills_1.0, dtype: uint8

In [ ]:
# check the balance of the target value
y.value_counts()

# result: good, 1:1 ratio of taking vs. not taking, no need to resample the data

0    2897
1    2805
Name: Taking diabetic pills_1.0, dtype: int64

### Split the data into train and test set

In [ ]:
# split data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [ ]:
# create a scaler instance
import sklearn as skl
X_scaler = skl.preprocessing.StandardScaler()

#from sklearn.preprocessing import StandardScaler

In [ ]:
# fit/train the scaler
X_scaler.fit(X_train)

StandardScaler()

In [ ]:
# scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
print (X_train_scaled)

[[-1.1262482   1.22617816 -0.0868335  -0.18600958 -0.02163205]
 [-1.1262482   1.22617816 -0.0868335  -0.18600958 -0.02163205]
 [-1.1262482   1.22617816 -0.0868335  -0.18600958 -0.02163205]
 ...
 [-1.1262482   1.22617816 -0.0868335  -0.18600958 -0.02163205]
 [-1.1262482   1.22617816 -0.0868335  -0.18600958 -0.02163205]
 [ 0.88790375 -0.81554217 -0.0868335  -0.18600958 -0.02163205]]

In [ ]:
print(X_test_scaled)

[[ 0.88790375 -0.81554217 -0.0868335  -0.18600958 -0.02163205]
 [-1.1262482   1.22617816 -0.0868335  -0.18600958 -0.02163205]
 [ 0.88790375 -0.81554217 -0.0868335  -0.18600958 -0.02163205]
 ...
 [-1.1262482   1.22617816 -0.0868335  -0.18600958 -0.02163205]
 [ 0.88790375 -0.81554217 -0.0868335  -0.18600958 -0.02163205]
 [ 0.88790375 -0.81554217 -0.0868335  -0.18600958 -0.02163205]]

In [ ]:
# 75% train, 25% test 
print(X_train_scaled.shape)
print(X_test_scaled.shape)

(4276, 5)
(1426, 5)

In [ ]:
# 75% train, 25% test 
print(y_train.shape)
print(y_test.shape)

(4276,)
(1426,)

In [ ]:
# create a logistic regression model
model = LogisticRegression(solver='lbfgs', random_state=1)
model

LogisticRegression(random_state=1)

In [ ]:
# fit (train) model using the training data
model.fit(X_train_scaled, y_train)

LogisticRegression(random_state=1)

### make predictions

In [ ]:
# predict outcomes for the test data set
predictions = model.predict(X_test_scaled)
pd.DataFrame( {'Prediction': predictions, 'Acutal': y_test} )

       Prediction  Acutal
28868           0       0
12947           1       1
3527            0       0
16349           0       0
5473            1       1
...           ...     ...
28848           1       0
15034           1       1
25553           1       0
21590           0       1
23840           0       0

[1426 rows x 2 columns]

In [ ]:
# cal. the balanced accuracy score
y_pred = model.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.526889665010576

low accuracy score:  poor correlation between income and diabetes

## looping over 38 cat. variables

In [ ]:
import sklearn as skl

target_column = "Taking diabetic pills"

target_column_onehot = '1.0'

for column in clean_df2.columns.values:
    if target_column != column:
        XY = clean_df2[ [column,"Taking diabetic pills"] ].copy()
        XY = XY.dropna()
        if len( XY ) > 0:
            if len( XY[column] ) == len( XY[target_column] ):
                X = pd.get_dummies( XY[ column ].astype('str') )
                y = pd.get_dummies( XY[ target_column ].astype('str') ) 
                y = y[ target_column_onehot ]
                print(column,X.shape,y.shape)
                X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
                X_scaler = skl.preprocessing.StandardScaler()
                X_scaler.fit(X_train)
                X_train_scaled = X_scaler.transform(X_train)
                X_test_scaled = X_scaler.transform(X_test)
                model = LogisticRegression(solver='lbfgs', random_state=1)
                model.fit(X_train, y_train)
                y_pred = model.predict(X_test)
                print( column, "score", balanced_accuracy_score(y_test, y_pred) )
    #break

Unnamed: 0 (5702, 5702) (5702,)
Unnamed: 0 score 0.5
Unique ID (5702, 5702) (5702,)
Unique ID score 0.5
Household region (5702, 4) (5702,)
Household region score 0.49483890009346254
Age of sample adult (5702, 70) (5702,)
Age of sample adult score 0.542354272221949
Sex of sample adult (5702, 2) (5702,)
Sex of sample adult score 0.5490953809828324
Education of sample adult (5702, 12) (5702,)
Education of sample adult score 0.5399783560430912
Hispanic ethnicity of SA (5702, 2) (5702,)
Hispanic ethnicity of SA score 0.5180294161050716
Single + Mult race gps w Hispanic origin (5702, 7) (5702,)
Single + Mult race gps w Hispanic origin score 0.5191440798858773
Hispanic origin detail (5702, 5) (5702,)
Hispanic origin detail score 0.5180294161050716
Single and multiple race groups (5702, 8) (5702,)
Single and multiple race groups score 0.5141610507157263
General health status (5702, 6) (5702,)
General health status score 0.5620984800039353
Ever had Diabetes? (5702, 3) (5702,)
Ever had Diabetes? score 0.7794244675094693
Ever had pre-diabetes? (5702, 3) (5702,)
Ever had pre-diabetes? score 0.5802774361749226
Taking insuliin (5702, 4) (5702,)
Taking insuliin score 0.5365743519110631
Diabetes type (3134, 4) (3134,)
Diabetes type score 0.5816962431004807
Ever had weak/failing kidneys (5702, 4) (5702,)
Ever had weak/failing kidneys score 0.500023611589355
Weight without shoes (pounds) (5702, 198) (5702,)
Weight without shoes (pounds) score 0.520030498302917
Categorical Body Mass Index (5702, 5) (5702,)
Categorical Body Mass Index score 0.5169885385410006
Health insurance hierarchy under 65 (2954, 5) (2954,)
Health insurance hierarchy under 65 score 0.5127253485687221
Health insurance hierarchy under 65.1 (2748, 7) (2748,)
Health insurance hierarchy under 65.1 score 0.501577287066246
Type of Medicare coverage (2975, 6) (2975,)
Type of Medicare coverage score 0.5
Enrolled in Medicare Advantage Plan (2864, 5) (2864,)
Enrolled in Medicare Advantage Plan score 0.49867724867724866
Medicare HMO (2864, 5) (2864,)
Medicare HMO score 0.4850818696972543
Medicare Advantage Plan (1270, 5) (1270,)
Medicare Advantage Plan score 0.4970414201183432
Medicare Part D (2975, 5) (2975,)
Medicare Part D score 0.5
Medicaid through Marketplace  (832, 5) (832,)
Medicaid through Marketplace  score 0.4307905686546463
Medicaid premium (832, 5) (832,)
Medicaid premium score 0.5055940822931114
Medicaid deductible (832, 5) (832,)
Medicaid deductible score 0.5
Medicaid HDHP (43, 3) (43,)
Medicaid HDHP score 0.35
Medicaid HDHP.1 (43, 3) (43,)
Medicaid HDHP.1 score 0.35
Medicaid reassignment flag (9, 1) (9,)
Medicaid reassignment flag score 0.5
Paid for by Medicare - plan 1 (3133, 5) (3133,)
Paid for by Medicare - plan 1 score 0.49943915481935564
Paid for by Medicare - plan 2 (89, 3) (89,)
Paid for by Medicare - plan 2 score 0.4583333333333333
Not eligible for Medicaid, CHIP, or other public coverage (100, 2) (100,)
Not eligible for Medicaid, CHIP, or other public coverage score 0.5
SA family poverty ratio (5702, 708) (5702,)
SA family poverty ratio score 0.5173102464459639
Ratio of family income to poverty threshold for SA’s family (5702, 14) (5702,)
Ratio of family income to poverty threshold for SA’s family score 0.5307393378916818
income from wages (5702, 5) (5702,)
income from wages score 0.5283161985341138
income from SSI SSDI (5484, 5) (5484,)
income from SSI SSDI score 0.5099887606486468
income from retirement (5484, 5) (5484,)
income from retirement score 0.5348632758451864

Take variables that have accuracy score > 0.53?

In [ ]:
import sklearn as skl

target_column = "Taking diabetic pills"
target_column_onehot = '1.0'

columns=['Age of sample adult',
         'Ratio of family income to poverty threshold for SA’s family',
         'income from retirement',
         'Sex of sample adult',     
         'Education of sample adult']

XYcolumns = columns+[target_column]
print(XYcolumns)
XY = clean_df2.loc[ :, XYcolumns ].copy()
XY = XY.dropna()
X = pd.get_dummies( XY[ columns ].astype('str') )
y = pd.get_dummies( XY[ target_column ].astype('str') ) 
y = y[ target_column_onehot ]
print(columns,X.shape,y.shape)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_scaler = skl.preprocessing.StandardScaler()
X_scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print( "Score", balanced_accuracy_score(y_test, y_pred) )
    #break

['Age of sample adult', 'Ratio of family income to poverty threshold for SA’s family', 'income from retirement', 'Sex of sample adult', 'Education of sample adult', 'Taking diabetic pills']
['Age of sample adult', 'Ratio of family income to poverty threshold for SA’s family', 'income from retirement', 'Sex of sample adult', 'Education of sample adult'] (5484, 103) (5484,)
Score 0.5718105147537773

In [ ]:
import sklearn as skl

target_column = "Taking diabetic pills"
target_column_onehot = '1.0'

columns=['Age of sample adult',
         'Sex of sample adult',
         'Education of sample adult',
         'Single + Mult race gps w Hispanic origin',
         'income from wages']
XYcolumns = columns+[target_column]
print(XYcolumns)
XY = clean_df2.loc[ :, XYcolumns ].copy()
XY = XY.dropna()
X = pd.get_dummies( XY[ columns ].astype('str') )
y = pd.get_dummies( XY[ target_column ].astype('str') ) 
y = y[ target_column_onehot ]
print(columns,X.shape,y.shape)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_scaler = skl.preprocessing.StandardScaler()
X_scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print( "Score", balanced_accuracy_score(y_test, y_pred) )
    #break

['Age of sample adult', 'Sex of sample adult', 'Education of sample adult', 'Single + Mult race gps w Hispanic origin', 'income from wages', 'Taking diabetic pills']
['Age of sample adult', 'Sex of sample adult', 'Education of sample adult', 'Single + Mult race gps w Hispanic origin', 'income from wages'] (5702, 96) (5702,)
Score 0.5924393723252497